@font-face { font-family: Roboto; src: url('../fonts/Roboto-Regular.ttf'); }
@font-face { font-family: Vegur; src: url('../fonts/Vegur-Regular.otf'); }

/* Variables */
:root {
  --bg-color: rgb(0,0,0);
  --odd-row: rgb(18,18,18);
  --even-row: rgb(26,26,26);
  --row-count: 14;
}

body {
  /*font-family: Roboto, sans-serif;*/
  font-family: Vegur, arial, sans-serif;
  font-weight: 400;
  background-color: var(--bg-color);
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

center {
  display: none;
}

.flex {
  display: flex;
  font-size: calc(71.4vh / var(--row-count));
}

.column {
  flex: 1;
  justify-content: center;
}

.row:nth-child(odd) {
  background-color: var(--odd-row);
}

.row:nth-child(even) {
  background-color: var(--even-row);
}

.row {
  display: flex;
  justify-content: center;
  padding-right: .75vw;
}

.empty {
  height: calc(71.4vh / var(--row-count));
}

.enclosure, .status {
  padding-top: .4vh;
  padding-bottom: .4vh;
  flex-basis: 0;
}

.enclosure {
  padding-right: 1.162vw;
  text-align: right;
  flex-grow: 1;
}

.status {
  padding-left: 1.162vw;
  flex-grow: 0.75;
}

/* Status Colors */
.undef {
  color: rgb(255,255,255);
}
.noacs {
  color: rgb(237,29,4);
}
.open {
  color: rgb(0,255,255);
}
.super {
  color: rgb(0,255,0);
}
.cntrl {
  color: rgb(255,255,0);
}

/* Updater */
h2 {
  text-align: center;
}
#updaterContainer {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
#updaterContainer > span {
  width: 47%;
  margin: .5% 1.5%;
  color: white;
  display: inline-block;
}
#updaterContainer > select {
  width: 47%;
  margin: .5% 1.5%;
}
